* {
    color: white;
}
.menu-list * {
    color: royalblue;
}
a {
    color: blue;
}
.offer-title {
    color: red;
}
.offer p {
    color: green;
}
.intro .intro-text {
    color: aquamarine;
}
#secrets-title {
    color: blueviolet;
}
.secrets-list ~ p {
    color: brown;
}
.secrets-text {
    color: fuchsia;
}
.secrets-list + li {
    color: gold;
}
.secrets-paragraph {
    color: salmon;
}
.secrets-paragraph.paragraph-last {
    color: darkcyan;
}
.errors-title + p {
    color: navy;
}
.errors-list + p {
    color: bisque;
}
.errors h2 {
    color: hotpink;
}
.errors-list li {
    color: tomato;
}
h2 {
    color: aquamarine;
} 
.recomendations > ul {
    color: darkgreen;
}
.recomendations-paragraph,
.chances-text {
    color: darkorchid;
}
.recomendations-title + p {
    color: blue;
}
.recomendations-list + p {
    color: darkgoldenrod;
}
.chances-title + p {
    color: deeppink;
}
li.chances-paragraph {
    color: khaki;
}
.chances-list ~ p {
    color: darkturquoise;
}
footer {
    color: aquamarine;
}