/* Подключение шрифтов */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Italic.woff") format("woff"), url("../fonts/Montserrat-Italic.woff2") format("woff2");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Gotham";
    src: url("../fonts/Gotham-Medium.woff") format("woff"), url("../fonts/Gotham-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Gotham";
    src: url("../fonts/Gotham-MediumItalic.woff") format("woff"), url("../fonts/Gotham-MediumItalic.woff2") format("woff2");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: "Gotham";
    src: url("../fonts/Gotham-Black.woff") format("woff"), url("../fonts/Gotham-Black.woff2") format("woff2");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

img {
    max-width: 100%;
    display: block;
}
.main {
    margin-bottom: 100px;
}

/* --------------- Layout --------------- */


.layout {
    font-family: 'Lato';
    padding-top: 118px;
    margin-bottom: 100px;
}
.layout-container {
    max-width: 810px;
    margin: 0 auto;
}
.layout-title {
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
    margin-bottom: 92px;
    color: #1E212C;
}
.layout-picture {
    margin-bottom: 60px;
}
.bold-text {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: #1E212C;
    margin-bottom: 24px;
}
.regular-text {
    margin-bottom: 48px;
}
.regular-text p,
.third-regular,
.last-regular {
    line-height: 160%;
    color: #424551;
}
.first-regular {
    margin-bottom: 27px;
}
.quote {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: #1E212C;
    padding-left: 58px;
    margin-bottom: 48px;
}
.third-regular {
    margin-bottom: 24px;
}
.paragraph-list {
    margin-bottom: 24px;
}
.paragraph-text {
    line-height: 160%;
    color: #424551;
    margin-bottom: 4px;
    padding-left: 32px;
}


/* ----------Workout ----------------------- */
body {
    font-family: "Montserrat";
    font-weight: 400;
}
.container {
    max-width: 1100px;
    margin: 0 auto;
}
header {
    padding: 20px 0;
    margin-bottom: 40px;
    background-color: #26922f;
}
.menu-list {
    text-align: center;
}
.menu-link {
    display: inline-block;
}
.menu-link a {
    color: blue;
    text-decoration: underline;
    line-height: 2;
    outline: 3px solid rgb(28, 130, 91);
}
.offer {
    margin-bottom: 30px;
    background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
}
.offer-image {
    margin-bottom: 40px;
}
.offer-image > img {
    margin: 0 auto;
    box-shadow: 10px 16px 15px 12px #192a6c;
    border-radius: 40px 0 40px 0;
    border: 5px solid grey;
}
.offer-title {
    font-family: "Gotham";
    font-weight: 900;
    text-transform: uppercase;
    font-size: 60px;
    text-align: center;
    text-shadow: 15px 15px 10px #7d1323;
    margin-bottom: 40px;
    color: aquamarine;
}
.offer-text {
    font-family: "Montserrat";
    font-size: 18px;
    font-weight: 700;
    font-style: italic;
    color: #2b3108;
    word-spacing: 5px;
    text-shadow: -10px -10px 10px #2b3108;
    text-indent: 40px;
    border: 10px solid #424551;
    background-color: white;
}
h4.content-title {
    text-transform: capitalize;
    font-size: 30px;
    margin-bottom: 40px;
    color: blue;
    text-decoration: line-through;
    text-shadow: 20px 15px 5px #4a137d;
}
.content-menu {
    margin-bottom: 60px;
    padding-top: 30px;
    background: url("../img/photo_5.png") no-repeat 10px 20px / cover;
}
.content-list {
    padding: 10px 15px 10px 40px;
}
.content-link a {
    color: rgb(115, 73, 22);
    text-decoration: underline;
    font-size: 14px;
    text-transform: lowercase;
}
.beginning {
    margin-bottom: 60px;
}
h2.beginning-title {
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 40px;
    text-align: center;
    color: aquamarine;
    text-shadow: 5px 5px 5px #4a137d;
}
.beginning-image {
    margin-bottom: 40px;
}
.beginning-image img {
    border-radius: 50%;
    border: 15px solid rgb(45, 120, 93);
    margin: 0 0 0 auto;
}
.beginning-list {
    margin-bottom: 50px;
    height: 100px;
    overflow: scroll;
}
.beginning-list li {
    font-size: 20px;
    color: rgb(54, 54, 163);
    text-decoration: overline;
    text-shadow: 15px 12px 10px #7d1323;
    text-transform: capitalize;
    line-height: 1.2;
    width: 900px;
    text-indent: 40px;
    letter-spacing: 5px;
}
.beginning-list + p {
    font-size: 25px;
    word-spacing: 15px;
    text-shadow: 16px 18px 12px #4a137d;
    color: chartreuse;
}
.zirro {
    margin-bottom: 60px;
    background: url("../img/photo_9.jpg") 0 0 / contain;
    background-attachment: fixed;
}
.zirro-title {
    text-transform: uppercase;
    font-size: 40px;
    margin-bottom: 40px;
    text-align: center;
    color: aqua;
    text-shadow: -24px 15px 15px #4a137d;
}
p.zirro-text {
    font-size: 20px;
    color: #7d1323;
    word-spacing: 15px;
    text-shadow: 12px 11px 8px #2b3108;
    line-height: 1.4;
    max-width: 700px;
    margin-bottom: 40px;
    letter-spacing: 8px;
}
.zirro-text + p {
    font-size: 22px;
    color: rgb(87, 87, 26);
    word-spacing: 15px;
    text-indent: 40px;
    margin-bottom: 40px;
    display: none;
}
.zirro-list {
    margin-bottom: 40px;
}
.zirro-list li {
    font-size: 20px;
    color: blueviolet;
    letter-spacing: 8px;
    word-spacing: 10px;
    padding: 0 15px;
    margin-bottom: 15px;
    text-shadow: 18px 20px 14px #4a137d;
    border: 12px dotted red;
}
.zirro-list ~ p {
    font-size: 12px;
    color: yellow;
    text-transform: uppercase;
    word-spacing: 8px;
}
.bloger {
    margin-bottom: 60px;
}
.bloger-image {
    margin-bottom: 40px;
}
.bloger-image img {
    border-radius: 50%;
    max-width: 200px;
    height: 200px;
    border: 5px dashed #1E212C;
    outline: 10px solid #7d1323;
}
.bloger-title {
    font-size: 45px;
    text-transform: uppercase;
    text-align: right;
    margin-bottom: 40px;
    text-shadow: 18px 15px 10px #4a137d;
    color: aqua;
}
.bloger-text.text-bloger {
    font-size: 27px;
    color: #2a1642;
    word-spacing: 25px;
    text-shadow: 12px 11px 8px #2b3108;
    line-height: 1.2;
    margin-bottom: 40px;
    letter-spacing: 8px;
    text-indent: 40px;
    box-shadow: 12px 16px 12px 20px #424551;
    opacity: 0.4;
    height: 100px;
    overflow: auto;
}
.bloger-paragraph {
    font-size: 22px;
    color: burlywood;
    margin-bottom: 15px;
    padding: 10px 20px;
    text-shadow: 12px 23px 10px #4a137d;
}
.bloger-list {
    margin-bottom: 60px;
}
.bloger-list + p {
    font-size: 27px;
    color: #2a1642;
    word-spacing: 25px;
    text-shadow: 12px 11px 8px #2b3108;
    line-height: 1.2;
    margin-bottom: 40px;
    letter-spacing: 8px;
    text-indent: 40px;
}
.blog-starting {
    margin-bottom: 60px;
}
.blog-image {
    margin-bottom: 40px;
}
h3.blog-title {
    font-size: 45px;
    text-transform: uppercase;
    text-align: right;
    margin-bottom: 40px;
    text-shadow: 18px 15px 10px #4a137d;
    color: aqua;
}
.blog-list {
    margin-bottom: 40px;
}
li.blog-paragraph {
    font-size: 20px;
    color: rgb(54, 54, 163);
    text-decoration: overline;
    text-shadow: 15px 12px 10px #7d1323;
    text-transform: capitalize;
    line-height: 1.2;
    width: 900px;
    text-indent: 40px;
    letter-spacing: 5px;
    border: 12px dashed #4a137d;
    margin-bottom: 15px;
}
.blog-text {
    font-size: 18px;
    font-style: italic;
    color: #2b3108;
    word-spacing: 5px;
    text-shadow: -10px -10px 10px #2b3108;
    text-indent: 40px;
    margin-bottom: 40px;
}
.blog-text + p {
    font-size: 18px;
    font-style: italic;
    color: #2b3108;
    word-spacing: 5px;
    text-shadow: -10px -10px 10px #2b3108;
    text-indent: 40px;
}
.selling {
    margin-bottom: 60px;
    background: url("../img/photo_9.jpg") no-repeat 20px 15px / auto 800px;
}
.selling-image {
    margin-bottom: 40px;
}
.selling-image img {
    border-radius: 20px 15px 10px 15px;
}
.selling-title {
    text-transform: uppercase;
    font-size: 40px;
    margin-bottom: 40px;
    text-align: center;
    color: aqua;
    text-shadow: -24px 15px 15px #4a137d;
}
.selling-list {
    margin-bottom: 40px;
}
li.selling-paragraph {
    font-size: 20px;
    color: rgb(54, 54, 163);
    text-decoration: overline;
    text-shadow: 15px 12px 10px #7d1323;
    text-transform: capitalize;
    line-height: 1.2;
    max-width: 900px;
    text-indent: 40px;
    letter-spacing: 5px;
    border: 10px solid #1E212C;
    border-radius: 20px;
    margin-bottom: 20px;
}
.selling-text {
    font-size: 20px;
    color: #7d1323;
    word-spacing: 15px;
    text-shadow: 12px 11px 8px #2b3108;
    line-height: 1.4;
    width: 700px;
    letter-spacing: 8px;
}
.photo {
    margin-bottom: 60px;
}
.photo-image {
    margin-bottom: 40px;
}
.photo-image img {
    border-radius: 30px;
    border: 10px solid #2b3108;
    outline: 10px dotted #26922f;
}
h3.photo-title {
    font-size: 48px;
    text-transform: capitalize;
    text-align: center;
    text-shadow: -19px -16px 15px #2b3108;
    margin-bottom: 40px;
}
.photo-list {
    margin-bottom: 40px;
}
.photo-list .photo-paragraph {
    font-size: 23px;
    text-decoration: line-through;
    line-height: 1.1;
    letter-spacing: 12px;
    text-shadow: 16px 14px 8px #2a1642;
    padding: 0px 20px;
    margin-bottom: 16px;
    box-shadow: -16px -12px 10px 12px #4a137d;
    border: 2px solid #261859;
}
.photo-text {
    font-size: 18px;
    text-decoration: overline;
    letter-spacing: 10px;
    text-indent: 20px;
}
.photo-list {
    margin-bottom: 40px;
}
.photo-list + p {
    font-size: 18px;
    font-style: italic;
    color: #2b3108;
    word-spacing: 5px;
    text-shadow: -10px -10px 10px #2b3108;
    text-indent: 40px;
    margin-bottom: 20px;
}
.earnings {
    margin-bottom: 20px;
    background: #778778 url("../img/photo_9.jpg") no-repeat 0 10% / 800px auto;
}
.earnings-image {
    margin-bottom: 60px;
}
.earnings-image img {
    border: 18px solid #000;
}
.earnings-title {
    font-size: 45px;
    text-transform: uppercase;
    text-align: right;
    margin-bottom: 40px;
    text-shadow: 18px 15px 10px #4a137d;
    color: aqua;
}
.earning-block {
    margin-bottom: 40px;
}
.earnings-text {
    font-size: 20px;
    color: #7d1323;
    word-spacing: 15px;
    text-shadow: 12px 11px 8px #2b3108;
    line-height: 1.4;
    max-width: 700px;
    margin-bottom: 20px;
    letter-spacing: 8px;
    box-shadow: 17px 10px 12px 10px #2b3108;
    border: 10px solid #26922f;
}
.earning-last {
    margin: 0;
}
.earnings-list {
    margin-bottom: 40px;
}
.earnings-paragrapg {
    font-size: 18px;
    font-style: italic;
    color: #2b3108;
    word-spacing: 5px;
    text-shadow: -10px -10px 10px #2b3108;
    text-indent: 40px;
    margin-bottom: 15px;
}
.bloging {
    margin-bottom: 60px;
}
.bloging-image {
    margin-bottom: 40px;
}
.bloging-image img {
    max-width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 10px solid red;
}
.bloging-title {
    text-transform: capitalize;
    font-size: 30px;
    margin-bottom: 40px;
    color: blue;
    text-decoration: line-through;
    text-shadow: 20px 15px 5px #4a137d;
}
.bloging-text {
    font-size: 32px;
    color: darkgreen;
    max-width: 800px;
    text-indent: 30px;
    line-height: 1.1;
    letter-spacing: 5px;
    word-spacing: 3px;
    margin-bottom: 20px;
    text-transform: lowercase;
    text-shadow: 18px 20px 17px #4a137d;
}
.bloging-paragraph {
    font-size: 22px;
    text-decoration: underline;
    letter-spacing: 8px;
    text-transform: capitalize;
    margin-bottom: 16px;
    border: 15px dashed yellow;
}
.last-paragraph {
    margin-bottom: 0;
}
.bloging-list {
    margin-bottom: 40px;
}
.bloging-list + p {
    font-size: 18px;
    font-style: italic;
    color: #2b3108;
    word-spacing: 5px;
    text-shadow: -10px -10px 10px #2b3108;
    text-indent: 40px;
}
.footer {
    padding: 20px 0;
}
.footer-text {
    font-size: 45px;
    text-transform: uppercase;
    text-align: right;
    margin-bottom: 10px;
    text-shadow: 18px 15px 10px #4a137d;
    color: aqua;
}