/* Подключение шрифтов */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

img {
    max-width: 100%;
    display: block;
}


/* --------------- Layout --------------- */
.wrapper {
    padding: 0 15px 0;
}
.wrapper-container {
    max-width: 1230px;
    margin: 0 auto;
}
.title h2 {
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
    color: #1E212C;
}
.wrapper-page {
    font-family: 'Lato', sans-serif;
    color: #424551;
    line-height: 160%;
}
.wrapper-layout {
    margin-bottom: 100px;
}
.about {
    padding-top: 120px;
    margin-bottom: 184px;
}
.about-container {
    max-width: 600px;
}
.about-title {
    margin-bottom: 40px;
}
.about-text {
    margin-bottom: 48px;
}
.about-skills h3 {
    font-weight: 700;
    font-size: 28px;
    line-height: 150%;
    color: #1E212C;
    margin-bottom: 24px;
} 
.about-skills li:not(:last-child) {
    margin-bottom: 4px;
}
.about-skills li::before {
    content: "";
    display: inline-block;
    background: url("../img/icons/check.svg") 0 0 no-repeat;
    width: 16px;
    height: 16px;
    margin-right: 16px;
}
.curator-container {
    max-width: 600px;
}
.curator-title {
    margin-bottom: 32px;
}
.curator-title h4 {
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #1E212C;
    margin-bottom: 8px;
}
.curator-title h2 {
    margin-bottom: 16px;
}
.curator-title p {
    font-size: 20px;
    line-height: 150%;
    color: #787A80;
}
.curator-experience {
    margin-bottom: 32px
}
.curator-experience p {
    font-weight: 700;
}
.curator-experience p:not(:last-child) {
    margin-bottom: 4px;
}
.curator-experience p:first-child::before {
    content: "";
    background: url("../img/icons/star.svg") 0 0 no-repeat;
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-right: 8px;
}
.curator-experience p:nth-child(2)::before {
    content: "";
    background: url("../img/icons/play.svg") 0 0 no-repeat;
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-right: 8px;
}
.curator-experience p:last-child::before {
    content: "";
    background: url("../img/icons/profile.svg") 0 0 no-repeat;
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-right: 8px;
}
.curator-text {
    margin-bottom: 40px;
}
.curator-social a:first-child::before {
    content: "";
    background: url("../img/icons/facebook.svg") 0 0 no-repeat;
    display: inline-block;
    height: 24px;
    width: 24px;
}
.curator-social a:nth-child(2)::before {
    content: "";
    background: url("../img/icons/behance.svg") 0 0 no-repeat;
    display: inline-block;
    height: 24px;
    width: 24px;
}
.curator-social a:nth-child(3)::before {
    content: "";
    background: url("../img/icons/twitter.svg") 0 0 no-repeat;
    display: inline-block;
    height: 24px;
    width: 24px;
}
.curator-social a:last-child::before {
    content: "";
    background: url("../img/icons/linked-In.svg") 0 0 no-repeat;
    display: inline-block;
    height: 24px;
    width: 24px;
}
.curator-social a:not(:last-child) {
    margin-right: 24px;
}
/* ----------Workout ----------------------- */

.wrapper-practice {
    padding: 0 15px;
}
.practice-container {
    max-width: 1100px;
    margin: 0 auto;
}
.practice-title {
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
    line-height: 100%;
}
.practice-text p {
    margin-bottom: 20px;
}
.practice-text ul {
    margin-bottom: 20px;
}
.practice-text span {
    color: rgb(87, 150, 40);
}
.practice-text li {
    border: 2px solid black;
}
.practice-text li:not(:last-child) {
    margin-bottom: 20px;
}
.practice-text li:hover {
    color: white;
}
.practice-text li:first-child:hover {
    background-color: burlywood;
}
.practice-text li:active {
    box-shadow: 4px 4px 4px 4px rgb(183, 31, 57);
}
.practice-text li:nth-child(2):hover {
    background-color: rgb(42, 96, 133);
}
.practice-text li:nth-child(3):hover {
    background-color: rgb(94, 42, 133);
}
.practice-text li:nth-child(4):hover {
    background-color: rgb(47, 26, 47);
}
.practice-text li:nth-child(5):hover {
    background-color: rgb(27, 127, 67);
}
.practice-text li:last-child:hover {
    background-color: rgb(152, 178, 47);
}
.practice-text li:target {
    background-color: orange;
}
.second-text p {
    margin-bottom: 20px;
}
.second-text li:not(:last-child) {
    margin-bottom: 5px;
}
.second-text a {
    color: blue;
}
.second-text a:visited {
    color: purple;
}
.second-text a:hover {
    text-decoration: underline;
}
.second-text a:focus {
    color: brown;
    outline: 2px solid grey;
}
.second-text a::before {
    content: "";
    background: url("../img/icons/check.svg") 0 0 no-repeat;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
}
.second-text a::after {
    content: "";
    background: url("../img/icons/play.svg") 0 0 no-repeat;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-left: 10px;
}
